version: '3.8'

services:
  db:
    image: postgres:13.0-alpine
    restart: always
    volumes:
      - /var/lib/postgresql/data/
    logging:
        driver: "json-file"
        options:
            max-file: "5"
            max-size: "50m"
    env_file:
      - ./.env

  web:
    image: f0rt3hlulz/foodgram:latest
    restart: always
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    depends_on:
      - db
    container_name: 'web'
    env_file:
      - ./.env
  
  frontend:
    image: f0rt3hlulz/foodgram_frontend:latest
    volumes:
      - ./frontend/:/app/result_build/
    container_name: 'frontend'

  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
    restart: on-failure
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/usr/share/nginx/html/
      - ../docs/redoc.html:/usr/share/nginx/html/api/docs/redoc.html
      - ../docs/openapi-schema.yml:/usr/share/nginx/html/api/docs/openapi-schema.yml
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - web
    container_name: 'nginx'

volumes:
  static_value:
  media_value:
  redoc: